/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main-mnu
		display: none
		float: right
		min-width: 295px
		background-color: #1F2A36
		font-size: em(18px)
		margin-top: 10px
		margin-left: 5px
		text-transform: uppercase
		position: absolute
		right: 15px
		top: 0
		z-index: 2
		ul
			li
				display: block
				text-align: right
				line-height: 0
				padding: 0
				border-bottom: 1px solid #243343
				&:last-child
					border-bottom: none
				a
					display: block
					line-height: 48px
					padding: 0 15px
					transition: background-color .5s ease
					&:hover
						background-color: #273646

	.section_3
		.section-content
			.info-item-wrap
				&:nth-child(5)
					.info-item
						margin: 44px 80px

	.phone_wrap .phone
		padding-right: 65px
	.section_1
		.info-item-wrap:nth-child(4)
				.info-item
					p
						margin-top: 32px


	.triangles-container
		.tc-item
			margin-bottom: 15px
			&:first-child
				margin-left: -45px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.main-mnu
		top: 40px

	.header-wrap
		margin-top: 0
		.header-left
			h1
				margin-top: 0

	.homesect
		.section-content
			.s1-bottom-triangle
				background-size: cover

	.section_1
		.section-content
			background-position: bottom
			min-height: 560px

	
	.section_3
		.section-content
			background-image: none
			padding-top: 0
			.info-item-wrap
				.info-item
					margin-top: 0
					margin-left: 0
				&:nth-child(2)
					.info-item
						margin-top: 0
			.info-item-wrap
				&:nth-child(8)
					.info-item
						margin-top: 0
			.info-item-wrap
				&:nth-child(4), &:nth-child(6)
					.info-item
						margin-top: 0
			.info-item-wrap
				&:nth-child(1), &:nth-child(7)
					.info-item
						margin-left: 0
			.info-item-wrap
				&:nth-child(3), &:nth-child(9)
					.info-item
						margin-left: 0
			
	.cards .card
		margin-top: 24px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	.homesect
		.section-content
			padding-top: 0
			padding-bottom: 40px
			.info-item-wrap
				&:last-child
					margin-bottom: 60px
					p
						border-bottom: none

	.section_1
		.section-content
			background-image: none

		.info-item-wrap
			&:first-child
				margin-top: 0
			.info-item
				margin: 40px 0
				max-width: 100%
				margin-top: 20px
				margin-bottom: 20px
				text-align: center
				p	
					border-bottom: 1px solid #bbc1c8
					margin-bottom: 0

				
	.s1-bottom
		.info-item-wrap
			.info-item
				p
					border-bottom: 1px solid #546476
		.info-item-wrap:last-child
			.info-item
				p
					border-bottom: none

	.section_3
		.section-bottom
			margin-top: 0
		.section-content
			padding-bottom: 0
			.info-item
				p
					border-bottom: 1px solid #546476

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

	.slider-container 
		.owl-controls 
			.owl-nav
				top: 8%

	.phone_wrap
		.phone
			font-size: em(18px)
			line-height: 18px
			padding-right: 50px
		.toggle-mnu
			line-height: 18px
			margin-top: 10px
			margin-left: 10px

	.button-wrap
		margin: 0 10px
		.button
			padding: 15px 18px
		

	.s2-item-wrap
		padding: 10px 0
		width: 140px

	.logo img
		width: 70px

	.section_5 .triangles-container
		.tc-item
			margin-left: 0
			&:first-child
				margin-left: 0
	

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

