@import "bourbon"
@import "vars"
@import "../app/libs/MagnificPopup/magnific-popup.sass"
@import "../app/libs/owl.carousel/owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.min.css"

*::-webkit-input-placeholder
	color: #fff
	opacity: 1

*:-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #fff
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #fff
body input:required:valid,
body textarea:required:valid
	color: #fff

.homesect
	padding-top: 70px
	background-color: #f9f9f9
	position: relative
	h3
		text-align: center
		margin-top: 50px
	h2
		text-align: center
		position: relative
		&::after
			content: ''
			position: absolute
			width: 165px
			height: 4px
			bottom: -30px
			right: 50%
			background-color: $accent
			transform: translate(50%)
	.section-head
		margin-bottom: 80px
		h3
			margin-bottom: 0
		p
			text-align: center
			padding-top: 40px
			animation-delay: .4s
			a
				text-decoration: underline
				font-family: "RalewayBold", $helvetica
				&:hover
					text-decoration: none
	.section-bottom
		text-align: center
		background-color: #E5E5E5
		padding: 50px 0
	&::before
		content: ''
		height: 6px
		width: 100%
		top: -6px
		position: absolute
		background-image: url(img/bah_1.png)
		background-repeat: repeat-x
	.section-content
		position: relative
		padding-bottom: 90px
		.s1-bottom-triangle
			position: absolute
			background-image: url(img/s1_triangle.svg)
			bottom: 0
			background-position: top
			background-size: 100% 100%
			height: 90px
			width: 100%
			text-align: center
			.triangle-logo
				width: 116px
				margin-top: 30px
				position: relative
				z-index: 2
			.scales
				width: 160px
				position: absolute
				left: 50%
				transform: translate(-50%, 0)
				top: -130px

	.s1-bottom
		background-color: #394B5F
		padding: 15px 0 65px
		.info-item
			margin-top: 0
			p
				padding-bottom: 20px
				color: #fff
				border-bottom: 1px solid #546476

		.info-item-wrap:nth-child(2)
			.info-item
				margin-top: 60px
			
.section_1
	.section-content
		background-image: url(img/s1_gray_bg.png)
		background-position: top
		background-repeat: no-repeat


.info-item
	padding-left: 40px
	max-width: 308px
	line-height: em(19px)
	margin: 60px 0
	position: relative
	h4
		margin-top: 0
		margin-bottom: 10px
		a
			font-size: em(24px)
			line-height: em(13px)
			text-transform: none
			&:hover
				text-decoration: none
	p
		font-size: em(16px)
		border-bottom: 1px solid #DEE1E5
		padding-bottom: 20px


.info-item-wrap:nth-child(2)
	.info-item
		margin-top: 0

.info-item-wrap
	&:nth-child(4), &:last-child
		.info-item
			margin-bottom: 0


.section_1
	.section-bottom
		background-color: #2C3949



.s2-items
	padding-bottom: 40px
	a.s2-item
		text-align: center
		color: #111
		display: inline-block
		transform: translateY(-20px)
		margin-bottom: 60px
		transition: all .5s ease
		opacity: 0
		&.on
			opacity: 1
			transform: translateY(0)

		.img-wrap
			display: inline-block
			width: 100%
			padding-bottom: 30px
			margin-bottom: 12px
			position: relative
			&::before
				content: ''
				position: absolute
				background-color: $accent
				width: 58px
				height: 1px
				bottom: 0
				left: 50%
				transform: translate(-50%, 0)
			img
				max-width: 80px
				max-height: 65px
				display: inline-block
		.s2-item-text
			display: inline-block
			font-family: "RalewayBold", $helvetica
			font-size: em(14px)
			line-height: em(20px)		
			vertical-align: top
			text-decoration: underline
			&:hover
				text-decoration: none
.img-wrap
	img
		width: 100%
		max-width: 100%


.s2-items-container
	text-align: center
	.s2-item-wrap
		display: inline-block
		padding: 15px 0
		width: 165px


.s_dark
	color: #f9f9f9
	background-color: #2C3949
	.section-head
		h2
			color: #fff
		p
			color: #e5e5e5
	&::before
		background-image: url(img/bah_2.png)
	.section-bottom
		background-color: #394B5F
		margin-top: 60px
	

.section_3
	@extend .section_1
	.section-content
		padding-bottom: 0
		background-image: url(img/s3_sun_bg.png)
		min-height: 850px
		padding-top: 60px
		.info-item
			margin-top: 60px
			margin-left: 40px
			p	
				border-bottom: none
		.s3-img-wrapper
			background-color: $accent
			border-radius: 50%
			position: relative
			width: 130px
			height: 130px
			img
				width: 64px
				display: inline-block
				margin-top: 32px
				transform: translate(-5%, 0)
				position: absolute

		.section-bottom
			margin-top: 40px
		.info-item-wrap
			&:nth-child(2)
				.info-item
					margin-top: 0
		.info-item-wrap
			&:nth-child(8)
				.info-item
					margin-top: 130px
		.info-item-wrap
			&:nth-child(5)
				.info-item
					margin: 44px 114px
		.info-item-wrap
			&:nth-child(4), &:nth-child(6)
				.info-item
					margin-top: 60px
		.info-item-wrap
			&:nth-child(1), &:nth-child(7)
				.info-item
					margin-left: 82px
		.info-item-wrap
			&:nth-child(3), &:nth-child(9)
				.info-item
					margin-left: -20px

.s_gray
	background-color: #e5e5e5
	&::before
		background-image: url(img/bah_3.png)
	.section-bottom
		background-color: #D6D6D6
	
.section-pb
	padding-bottom: 70px


.cards
	text-align: center
	perspective: 600px
	.card
		&-off
			transform: rotateY(100deg)
			opacity: 0
		&-on
			opacity: 1
		display: inline-block
		margin: 0 12px
		max-width: 260px
		width: 100%
		background-color: #2C3949
		color: #97A4B2
		padding: 50px 28px 54px
		font-size: em(15px)
		line-height: em(22px)
		vertical-align: top
		transition: all 1s ease
		border-bottom: 4px solid darken(#2C3949, 10%)
		.card-icon
			width: 120px
			height: 120px
			background-color: $accent
			border-radius: 10em
			display: inline-block
			line-height: 120px
			img
				width: 75px
		h4
			font-size: em(18px)
			color: #e5e5e5
			font-family: "RalewayBold", $helvetica
			margin-top: 30px
			margin-bottom: 10px
		p
			margin-bottom: 0
			height: 65px
			strong
				color: $accent
			

.triangles-container
	font-size: em(19px)
	margin: 20px 0 70px
	font-family: "PFCentroSlabProMedium", $helvetica
	color: #fff
	text-align: center
	.tc-item
		display: inline-block
		transition: all .5s ease
		width: 290px
		height: 128px
		text-align: center
		position: relative
		vertical-align: top
		margin-left: -45px
		&:hover
			transform: scale(1.08)
			z-index: 3
			path
				fill-opacity: 0!important
				stroke-opacity: 1!important
		&:first-child
			margin-left: 0
			.tc-content
				margin-left: 40px
		svg
			position: absolute
			top: 0
			left: 0
		.tc-content
			position: relative
			cursor: pointer
			z-index: 1
			text-align: left
			margin-top: 40px
			margin-left: 60px
			color: #FFF
			padding-right: 20px
			span
				font-size: em(20px)
			img
				margin-right: 15px
				height: 40px
				float: left


.teams
	@extend .cards
	.team
		.card-icon
			overflow: hidden
			line-height: 0
			box-shadow: 0 0 0 4px #d6d6d6
			img
				width: 100%
		@extend .card
		background-color: #e5e5e5
		border-bottom: 4px solid #d6d6d6
		&-off
			transform: rotateY(100deg)
			opacity: 0
		&-on
			opacity: 1
		h4
			color: #333
			text-transform: none
			margin-bottom: 10px
		p
			font-size: em(15px)
			color: #6e7b8b
			height: auto
			margin-bottom: 20px

		.team-phone
			font-family: "RobotoBold", $helvetica
			color: #333


.slider-container
	margin-bottom: 40px
	.slide
		position: relative
		text-align: center
		margin-bottom: 20px
		h3
			text-transform: none
			margin-bottom: 10px
			font-size: em(24px)
		.img-wrap
			width: 116px
			height: 116px
			display: inline-block
			border-radius: 10em
			overflow: hidden
			box-shadow: 0 0 0 7px $accent
			margin: 10px
		.slide-descr
			color: #6e7b8b
			font-size: em(14px)
		p
			color: #333
			margin-bottom: 10px
	.owl-item
		.img-wrap, .slide-descr, p, h3
			opacity: 0
			transition: all .7s ease
			transform: translate3d(100px, 0, 0)
		.img-wrap
			transition-delay: .1s
		.slide-descr
			transition-delay: .4s
		p
			transition-delay: .8s
		h3
			transition-delay: 1s
		&.active
			.img-wrap, .slide-descr, p, h3
				opacity: 1
				transform: translate3d(0, 0, 0)
	.owl-controls
		text-align: center
		.owl-dot
			text-align: center
			margin: 0 3px
			width: 12px
			height: 12px
			display: inline-block
			background-color: #ccc
			border-radius: 10em
			&.active
				background-color: $accent
		.owl-nav
			position: absolute
			top: 12%
			width: 100%
			> div
				width: 16px
				height: 29px
				background-image: url(img/slider_arrows.png)
				left: 20px
				position: absolute
				opacity: 0.5
				transition: opacity .25s ease
				&:hover
					opacity: 1
			.owl-next
				right: 20px
				left: auto
				background-position: -16px 0


.homesect.section_8
	padding-top: 50px
	.section-head
		margin-bottom: 55px
		h2, p
			text-align: left
		h2
			margin-top: 0
			&::after
				left: 0
				right: auto
				transform: none
	.s8-items
		.s8-item
			text-align: center
			max-width: 165px
			transition: all .5s ease
			opacity: 0
			transform: translateX(-15px)
			&.on
				opacity: 1
				transform: translateY(0)
			.img-wrap
				display: inline-block
				vertical-align: bottom
				img
					height: 72px
			p
				font-family: "RobotoBold", $helvetica
				line-height: em(20px)
				margin: 30px 0
	.s8-right
		margin-top: 40px
				
			
	.forms.light
		background-color: #ddd
		border-color: #828282
		color: #5e6267
		h4
			color: #2c3949
		input
			background-color: #C0C0C0
			box-shadow: 0 -3px 0 #737373
			color: #333
		p
			color: #5e6267


.main-footer
	padding-bottom: 60px
	.logo
		opacity: 0.35
	.phone
		opacity: 0.45
	.main-mnu
		color: #A7ABAF


.top
	height: 36px
	background-color: #1F2B3A
	background-image: url(img/top.png)
	background-repeat: no-repeat
	background-position: center
	cursor: pointer
	width: 100%

#callback
	max-width: 300px
	margin: auto
	background-color: #243343
	position: relative


.mfp-forms
	.mfp-close
		color: #fff
  &.mfp-bg
    opacity: 0
    -webkit-transition: all 0.15s ease-out
    -moz-transition: all 0.15s ease-out
    transition: all 0.15s ease-out
    &.mfp-ready
      opacity: 0.8
    &.mfp-removing
      opacity: 0
  &.mfp-wrap
    .mfp-content
      opacity: 0
      -webkit-transition: all 0.15s ease-out
      -moz-transition: all 0.15s ease-out
      transition: all 0.15s ease-out
    &.mfp-ready .mfp-content
      opacity: 1
    &.mfp-removing .mfp-content
      opacity: 0


//ALWAYS END
@import "_media.sass"
